# my
ignore/
enumerate/sources/Data/Canonical.hs

# Haskell
ghcid.txt
*.local
cabal.project.local
dist-newstyle/
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
report.html
.stack-work/
.styx/

# Emacs
\#*
*~
.#*
\#*\#
*.log
TAGS
.projectile

# Nix
result/
result
result-*/

# OS X
.DS_Store
